* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: url(Norse-Bold.otf);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.75rem;
  padding: 0.3rem;
  background: gray 0.5;
  background-color: hsla(0, 0%, 0%, 0.405);
}
.hero img {
  width: 50px;
}
.hero__header {
  font-size: 40px;
}
.main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.nowrap {
  white-space: no-wrap;
}
.section-one {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: whitesmoke;
  padding: 2rem;
}
.section-one__p {
  margin-bottom: 1rem;
  font-size: 20px;
  font-style: italic;
  font-weight: medium;
}
.section-two {
  display: grid;
  place-content: center;
  padding: 2rem;
}
.section-two__h2 {
  margin-bottom: 1rem;
}
.form-element {
  display: flex;
  flex-direction: column;
}
input {
  width: 400px;
}
