* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: url(Norse-Bold.otf);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.75rem;
  padding: 0.3rem;
  background: gray 0.5;
  background-color: hsla(0, 0%, 0%, 0.405);
}
.hero img {
  width: 50px;
}
.hero__header {
  font-size: 40px;
  color: #fff;
}
.main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.nowrap {
  white-space: no-wrap;
}
.section-one {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: whitesmoke;
  padding: 2rem;
}
.section-one__p {
  margin-bottom: 1rem;
  font-size: 20px;
  font-style: italic;
  font-weight: medium;
}
.section-two {
  display: grid;
  place-content: center;
  padding: 2rem;
}
.section-two__h2 {
  margin-bottom: 1rem;
  text-align: center;
}
.form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
form {
  width: 100vw;
  padding: 2rem;
}
input {
  width: 100%;
  padding: 0.5rem;
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bold;
}
input:hover {
  padding: 0.6rem;
}
.btn-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-top: 2px solid gainsboro;
  box-shadow: 0 0 0 gray;
  padding-top: 1rem;
  gap: 0.3rem;
}
.btn {
  padding: 0.8rem;
  background-color: #596d48;
  color: whitesmoke;
  border-radius: 5px;
  font-size: 1rem;
}
.login {
  color: #596d48;
  font-size: 18px;
  font-weight: bold;
}
