* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: url(Norse-Bold.otf);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__logo {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2.5rem;
  padding: 0.3rem;
  background: gray 0.5;
  background-color: hsla(0, 0%, 0%, 0.405);
}
.hero img {
  width: 50px;
}
.hero__header {
  font-size: 40px;
  color: #fff;
}
.main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.nowrap {
  white-space: no-wrap;
}
.section-one {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: whitesmoke;
  padding: 2rem;
}
.section-one__p {
  margin-bottom: 1rem;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.section-two {
  display: grid;
  place-content: center;
  padding: 2rem;
}
.section-two__h2 {
  margin-bottom: 1rem;
  text-align: center;
}
.form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
form {
  width: 90vw;
  padding: 2rem;
}
input {
  width: 100%;
  padding: 0.5rem;
  background-color: whitesmoke;
  border: 2px solid #e5e7eb;
  border-radius: 5px;
  font-weight: bold;
}
input:hover,
input:focus {
  border: 2px solid #596d48;
  box-shadow: inset 0 0 5px #596d48;
}
input:active {
  border: 2px solid hsla(92, 24%, 35%, 0.968);
  box-shadow: inset 0 0 3px hsla(92, 24%, 35%, 0.968);
}
.btn-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-top: 2px solid gainsboro;
  box-shadow: 0 0 0 gray;
  padding-top: 1rem;
  gap: 0.3rem;
}
.btn {
  padding: 0.8rem;
  background-color: #596d48;
  color: whitesmoke;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.btn:focus,
.btn:hover {
  box-shadow: inset 0 0 10px green;
  font-size: 0.96em;
}
.login {
  color: #596d48;
  font-size: 18px;
  font-weight: bold;
}
.login:hover {
  font-size: 18px;
  cursor: pointer;
  color: hsla(92, 20%, 35%, 0.771);
}
@media screen and (min-width: 576px) {
  body {
    flex-direction: row;
    min-height: 100vh;
  }
  .hero {
    width: 30vw;
    min-height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
  .hero__logo {
    top: 6rem;
  }
  .main {
    width: 70vw;
  }
  .section-one {
    text-align: start;
    padding: 6rem 6rem 1rem 1rem;
  }
  .section-two {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .section-two__h2 {
    text-align: start;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 1rem;
    padding: 0 1rem 0 1rem;
  }
  .form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    gap: 1rem;
    width: min(25vw, 220px);
  }

  label {
    font-size: 14px;
  }
  .btn-container {
    width: 100%;
  }
  .btn {
    width: min(25vw, 220px);
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
  }
  .btn-container p {
    text-align: start;
  }
}
@media screen and (min-width: 768px) {
  .form-element {
    width: min(30vw, 250px);
  }
  label {
    font-size: 1rem;
  }
  .btn {
    width: min(30vw, 250px);
  }
}
@media screen and (min-width: 992px) {
  .form-element {
    width: min(35vw, 250px);
  }
  .btn {
    width: min(35vw, 250px);
  }
}
@media screen and (min-width: 1200px) {
  .form-element {
    width: min(40vw, 300px);
  }
  .btn {
    width: min(40vw, 300px);
  }
}
